<section class="section container-fluid ng-scope">
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose1()">
    <div class='selection-container'>
      <h2 class='selection-title'>{{choice1}}</h2>
      <img class='selection-icon' src='img/{{imageRoute1}}'>
    </div>
  </div>
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose2()">
    <div class='selection-container'>
      <h2 class='selection-title'>{{choice2}}</h2>
      <img class='selection-icon' src='img/{{imageRoute2}}'>
    </div>
  </div>
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose3()">
    <div class='selection-container'>
      <h2 class='selection-title'>{{choice3}}</h2>
      <img class='selection-icon' src='img/{{imageRoute3}}'>
    </div>
  </div>
</section>