<section class="section container-fluid ng-scope">
  <div ng-repeat="biz in sb">
    <div class='venue-card' ng-click="bookRide(biz);">
      <div class='venue-left-box'>
        <h2 class='business-name'>{{biz.name}}</h2>
        <div class='rating-holder'>
        <img class='rating-icon' src={{biz.ratingImage}}> <span class='rating-text'> {{biz.ratingCount}} Reviews</span>
        </div>
      </div>

      <div class='venue-center-box'>
        <img class='business-image' src={{biz.image}}>
      </div>

      <div class='venue-right-box'>
        <div class="uber-container">
          <div class="bookRideButton">
            <div><img class="booking-badge"src='./img/uber-badge.png'></div>
            <span class="uber-textcontainer">
              <div class="uber-type">UberX</div>
              <div class="uber-detail">Price : {{biz.uberXPrice}}</div>
              <div class="uber-detail">{{biz.uberXDuration}} Minute(s)</div>
            </span>
          </div>
        </div>
      </div>
    </div>   
  </div>
</section>
