<section class="section container-fluid ng-scope">
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose1()">

    <div class='business-container'>
      <h2 class='business-name'>{{choice1}}</h2>
      <img class='business-image' src='{{imageRoute1}}'>
      <img class='rating-icon' src='{{imageRoute2}}'>
    </div>

    <div class="uber-container">
      <div class="bookRideButton">
        <img src='img/uber-badge.png'>
        <span class="textcontainer">
          <div>UberX</div>
          <div>Price: {{}}</div>
          <div>Time: </div>
        </span>
      </div>

      <div class="bookRideButton">
        <img src='img/uber-badge.png'>
        <span class="textcontainer">
          <div>UberBlack</div>
          <div>Price: {{}}</div>
          <div>Time: </div>
        </span>
      </div>
    </div>

  </div>
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose2()">
    <div class='selection-container'>
      <h2 class='business-name'>{{choice2}}</h2>
      <img class='business-image' src='{{imageRoute3}}'>
      <img class='rating-icon' src='{{imageRoute4}}'>
    </div>
  </div>
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose3()">
    <div class='selection-container'>
      <h2 class='business-name'>{{choice3}}</h2>
      <img class='business-image' src='{{imageRoute5}}'>
      <img class='rating-icon' src='{{imageRoute6}}'>
    </div>
  </div>
</section>
