<section class="section container-fluid ng-scope">
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose1()">
    <h1 style='position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);'>{{choice1}}</h1>
  </div>
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose2()">
    <h1 style='position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);'>{{choice2}}</h1>
  </div>
  <div class="list-group-item list-group-item-home" style="height: 33%" ng-click="choose3()">
    <h1 style='position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);'>{{choice3}}</h1>
  </div>
  
</section>